@media screen and (min-width: 1013px ) and (max-width: 1100px) {

.clear{
	clear: 			both;
	display: 		block;
	overflow: 		hidden;
	visibility: 	hidden;
	width: 			0;
	height: 		0;
}



body{
	margin:			0;
	padding:		0;
	background:		url(../images/sd.jpg);


}

img{
	max-width: 		100%;
	height:			auto;

}

.main_wrapper{
	min-height: 	1080px;
}

.wrapper{
	margin: 		0 auto;
	width: 			91.9%;
	max-width: 		1320px;
}

.container{
	min-height:		1245px;
	width: 			95.7%;
	margin:			0 auto;
}


.head{
	/*background:		url(../images/head_fon.gif) top center repeat-x;*/
	-webkit-background-size: 100% ; /* Для хрома */
	-moz-background-size:	100% ;  /* Для лисы*/
	-o-background-size: 100% ;  /* Для оперы*/
	-ms-background-size: 100% ;  /* Для ИЭ*/
	background-size: 100%;  /* Для закрипления*/

}

.logo{
	width: 			62.1%;
	float:			left;
	padding-left:	7%;
}

.cont{
	float:			right;
	width: 			28.3%;
	padding-top:	1%;
	position:		relative;
}

.cont p,.cont span{
	font-family: 	'Agopus'sans-serif;
	text-align:		center;
	color:			#CD862F;
	text-shadow: 	1px 1px 2px black;
	width:			74%;
	display:		inline-block;

}

.cont_wrapp{
	min-height: 	1447px;
}

.cont input{
	background:		#C2A466;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 	3px;
    border:			none;
    width:			100%;
    box-shadow: 	inset 1px 1px 0 0px #55482D;
    height:			1.4em;
    font-family: 	'Agopus';
	padding: 		1px 4px;
}

.cont input:focus{
	border:			none;
}

.cont span a{
	color: 			#CD862F;
	text-decoration:none;
}

.cont p a{
	color:			#CD862F;	
	font-family: 	'Agopus'sans-serif;
}

.highslide{
	max-width:		265px;
}

.month-name{
	font-size:		13px;
}

tr td table.jajc-calendar{
	margin-left:	5%;
}

.main_wrapper ul li a {
color: #220400;
}

.main_wrapper ol li a {
color: #220400;
}


#mailing {
font-family: 'CyrillicOld', serif;
color: #85010F;
margin: 9% 0 0 9%;
}

.search{
	width: 			80%;
	margin: 		0 auto;
	padding-top: 	8%;
}

.lup{
	position: 		absolute;
	right: 			-8%;
	bottom: 		-2%;
}


.back{
	float:			left;
	width:			45%;
}
.print{
	float:			right;
	width:			47%;
}

.buttons{
	width: 			18%;
	height: 		1.4em;
	float: 			right;
	padding-top: 5%;
	padding-right: 22%;
}

.main_block{
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	min-height:		1250px;
	width: 			95.7%;
	margin:			0 auto;
	background:		url(../images/f.gif) repeat;
	position:		relative;
	box-shadow: 	0 0 30px rgba(0,0,0,0.5);
	margin-top:		2%;

}

h1{
	padding-top: 	15px;
	padding-bottom: 15px;
	padding-left: 	5px;
	clear: 			both;
	text-align: 	left;
}

.fullix{
	padding: 		0px;
	margin: 		0px;
}

td{
	vertical-align: top;
	text-align: 	left;
}


pre{
	display: 		block;
	font-family: 	monospace;
	white-space: 	pre;
	margin:			0;
}

p img{
	margin: 		0 1%;
}

p{
	margin: 		5px 0px;
	text-align: 	justify;
	font-size:		16px;
}

h1,h2,h3,h4,h5,h6{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;

}

.fullx h2 a{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	font-size: 		21px;

}

p, h1, h2, h3, h4, h5, h6, ul, ol, li {
	clear: 			both;
}

h1 a,h2 a,h3 a,h4 a,h5 a, span a{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	text-decoration:none;

}

.noclear span{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}

p a,.fullx a{
	color:   		#220400;
	font-weight:	bold;
}

.center{
	text-align:		center;
}

.fullx{
	width:			100%;
}

.cont_wrapp{
	background:		none;
	min-height:		800px;
	height: 		1000px;
}

.top{
	position:		absolute;
	top:			0;
	width:			100%;
	height:			1%;
	min-height: 	42px;
	background:		url(../images/3.gif) top center repeat-x;
}

.left1{
	position:		absolute;
	top:			0;
	width:			5%;
	height:			100%;
	background:		url(../images/4.gif) left center repeat-y;
}

.bottom{
	position:		absolute;
	bottom:			0;
	width:			100%;
	height:			0.4%;
	min-height: 	42px;
	background:		url(../images/bb.gif) bottom center repeat-x;

}

.right1{
	position:		absolute;
	top:			0;
	right:			0;
	width:			3.4%;
	height:			100%;
	background:		url(../images/5.gif) right center repeat-y;
	min-width: 		35px;
}





.cont_wrapp{
	min-height: 	890px;
	background:		url(../images/figure_bottom.png) bottom center no-repeat;
	background-size: 90% 6px;

}



.nav{
	width:			80%;
	min-height: 	43px;
	padding-top: 	4%;
	position:		relative;
	margin:			0 auto;
}



.l{
	width:			5%;
	height:			93px;
	float:			left;
	background:		url(../images/2.gif) no-repeat;
	z-index:		10;
	position:		absolute;
	top:			0;
	left:			0;
}

.r{
	width:			5.3em;
	height:			93px;
	position:		absolute;
	top:			0;
	right:			0;
	background:		url(../images/1.gif) no-repeat;
	z-index:		8;
}

.left_part{
	height:			36px;
	width: 			9.8%;
	position: 		absolute;
	bottom: 		0;
	float:			left;

}
.right_part{
	float:			right;
	height:			36px;
	width: 			9.8%;
	position:		absolute;
	right:			0;
	bottom:			0;
	z-index:		9;
}


.nav_center{
	width: 			86%;
	margin:			0 auto;
	height:			43%;
	background:		url(../images/menu-main.png) no-repeat;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size: 100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	position: 		absolute;
	right: 			7.6%;
	z-index: 		10;
}

.menu_main{
	list-style:		none;
	padding:		0;
	margin:			0 auto;
	height: 		100%;
	text-align:		justify;
	-ms-text-justify: distribute;
	max-width: 		660px;
	z-index:		11;


}
.menu_main:after{
	width: 			100%;
	height: 		0;
	visibility: 	hidden;
	overflow: 		hidden;
	content: 		"";
	display: 		inline-block;
}



.menu_main li{
	line-height:	213%;
	letter-spacing: normal;
	display:		inline-block;
	position:		relative;


}

.menu_main li a{
	color:			#E4C479;
	text-decoration:none;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 	3px;
    max-height:		20px;
    font-size: 		100%;
    padding:		2px;
	font-family: 	'Agopus'sans-serif;
}

.menu_main li a:hover{
	background:		#BA6306;
	color:			#1E0B00;	
}


.left_side{
	float: 			left;
	width: 			19.5%;
	padding-left: 	3%;
	min-height: 	890px;
	background:		url(../images/4.gif) left center repeat-y;
}

.left_side h4{
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	padding: 		5px 0;
	margin: 		0;
	font-size: 		21px;
	background:		url(../images/figure_left.png) right center repeat-y;
}

.sidebar{
	list-style:		none;
	padding-left:	8%;
	margin:			0;
	background:		url(../images/figure_left.png) right center repeat-y;
}

.sidebar li{
	width:			100%;
	max-width:		90%;
}

.sidebar li a{
	text-decoration:none;
	color:			#220400;
	padding: 		2px;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width:			100%;
    display:		block;
    font-family: 	'Agopus'sans-serif;
	font-size: 		17px;
	border-bottom:	1px solid #B6985B;
	border-top:		1px solid #D5BA7C;
	position:		relative;
	z-index:		10;
}

.sidebar li a:hover{
	background:		#BA6306;
}



.sidebar li.sub{
	background:		#E6C57B;
	width: 			88%;
	margin-left: 	3%;
}

.sidebar li.sub a:hover{
	background:		none;
	text-decoration:underline;
}

.sidebar li.sub a{
	border-top:		1px solid #D5BA7C;
	padding-left: 	4%;
	width:			95%;
}

.sub1,.sub2{
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}



.main{
	width:			69.5%;
	float:			left;
	padding: 		1% 3% 0 2%;
	padding-bottom: 2.3%;

}

.main h2{
	margin: 		9px 0 0 0;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}

.main p{
	margin:			4px 0 12px 0;
	font-family:	'Agopus';
	font-size:		13px;
}

.img1{
	float:			left;
	width:			48.5%;

}

.img2{
	width:			47%;
	float:			right;
}

.patriarx{
	min-height: 	197px;
	background:		url(../images/figure_top.png) bottom center no-repeat;
}



.icons h5{
	text-align:		center;
	display:		block;
}

.icons h5{
	margin: 		10px 0;
	font-size: 		24px;
	color:			#85010F;
	font-family:	'CyrillicOld', serif;
}

.icon1,.icon2,.icon3,.icon4,.icon5,.icon6{
	width:			33%;
	margin-bottom: 	2%;

}

.icon1,.icon2,.icon4,.icon5{
	float:			left;
	margin-bottom: 	2%;
}

.icon3,.icon6{
	float:			right;
}

.icon_wrapper{
	width: 			62.5%;
	margin:			0 auto;
	margin-bottom: 	2%;
}

.icon_href{
	text-decoration:none;
	color:			#230700;
	text-align: 	center;
	display: 		block;
	font-family:	'Agopus';
	font-size: 		14px;
}





.right_side{
	padding-right:	3%;
	float:			right;
	background:		url(../images/5.gif) right center repeat-y;
	min-height:		890px;
}

.news{
	width:			62%;
	margin:			0 auto;
	padding-top: 	10%;
}

.topic{
	background:		url(../images/element.png) no-repeat;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	width:			90%;
	height:			30px;
	margin:			0 auto;
	position: 		relative;
	bottom: 		6px;
}

.today{
	padding-right: 	6%;
}

.topic p{
	margin:			0;
	font-size: 		12px;
	padding-top: 	5.3%;
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}



.calendar{
	margin-top: 	10%;
	height:			180px;
	width:			92%;
}


.promo{
	margin-top: 	14%;
	width: 			92%;
	height: 		360px;
	background:		#E6C57B;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.foot{
	background:		url(../images/4.gif) left center repeat-y, url(../images/5.gif) right center repeat-y;

	min-height: 	20px;
	padding: 		2% 4% 0 4%;
	min-height:     290px;

}

.map{
	width:			27%;
	float:			left;
	min-height:		100px;
}

.contacts{
	width:			50%;
	float:			left;
	min-height:		100px;
	font-size:		15px;
}

.con_left_inner{
	padding-left: 	18%;
}



.contacts_head p{
	margin: 		0 auto;
	text-align: 	center;
	line-height: 	14px;
	font-size: 		13px;
	font-family: 	Agopus;
}

.con_left{
	width:			50%;
	float:			left;
}

.con_left p{
	margin:			5% 0 0 0;
}

.con_right{
	width:			50%;
	float:			right;
}

.con_right_inner{
	padding: 		0 10%;
}

.con_right_inner p{
	margin:			5% 0 0 0;

}

.map_innner{
	width: 			86%;
	padding: 		5% 0 0 10%;
}

.other{
	width:			19%;
	padding-right:	4%;
	float:			right;
	margin-top: 	1.5%;
	text-align: 	right;
}


.visa,.mcard,.fb,.vk,.counter{
	margin:			0 auto;
}

.visa_mcard{
	display:		inline-block;
	width:			52%;
}

.fbvk a{
	display: block;
}

.visa{
	float:			left;
	width:			49%;
	padding-bottom: 3%;
}
.mcard{
	float:			right;
	width:			49%;
}

.fb,.vk{
	width: 			57%;
	padding-bottom: 2%;
}

.vk{
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.lb{
	position: 		absolute;
	bottom:			0;
	width: 			5.6%;
	background:		url(../images/lb.gif) no-repeat;
}


.rb{
	position: 		absolute;
	bottom: 		0;
	right:			0;
	width: 			68px;
	background:		url(../images/rb.gif) no-repeat;
}


.cent_b{
	position: 		absolute;
	bottom: 		0;
	left:			5.6%;
	height: 		2.9%;
	width: 			88.3%;
	background: 	url(../images/bb.gif) repeat-x;
}




.footer{
	height:			150px;
}


#social-buttons a{
	display:		block;

}

#social-buttons{
	padding: 		4% 0 0 9%;

}

.panel-body{
    position:relative;
    min-height:300px;
}

.panel-body .row .col-sm-3:nth-child(2){
    position:absolute;
    height: 100%;
    padding-top: 30px;
    top: 0;
    left: 225px;
    border-left: 1px solid #562d10;
}

.panel-body .row .col-sm-3:nth-child(3){
    position:absolute;
    height: 100%;
    padding-top: 30px;
    top: 0;
    left: 425px;
    border-left: 1px solid #562d10;
}
.panel-body .row .col-sm-3:nth-child(4){
    position:absolute;
    height: 100%;
    padding-top: 30px;
    top: 0;
    left: 625px;
    border-left: 1px solid #562d10;
}



@font-face{
	font-family:	'Agopus';
    src:			url(../fonts/agopus1.ttf);

}

@font-face{
	font-family:	'CyrillicOld';
	src:			url(../fonts/cyrrilic-old.ttf);
}




}