@media screen and (max-width: 764px) {

.clear{
	clear: 			both;
	display: 		block;
	overflow: 		hidden;
	visibility: 	hidden;
	width: 			0;
	height: 		0;
}


body{
	margin:			0;
	padding:		0;
}


img{
	max-width: 		100%;
	height:			auto;

}
.cal_elt{
	float:			left;
	width:			10%;
}

.container{
	margin:			0 auto;
	width:			91.9%;
	min-width:		420px;


}

img[alt="Екатерина Ильинская торжественно дарит икону Его Святейшеству"]{
	width:			100%;
}


.instagram img{
	width:			27px;
	height:			26px;
	margin-bottom:	10px;
}

.head{
	margin:			0 auto;
	width:			96.7%;
}

img{
	display:		inline-block;
	padding-top:	2%;
	margin:			0 auto;
}


.head .cont{
	display:		none;
	float:			right;
	width: 			26.3%;
	padding-top:	1%;
	position:		relative;
}

.cont p,.cont span{
	font-family: 	'Agopus'sans-serif;
	text-align:		center;
	color:			#CD862F;
	text-shadow: 	1px 1px 2px black;
	width:			100%;
	display:		inline-block;

}

.cont input{
	background:		#C2A466;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 	3px;
    border:			none;
    width:			100%;
    box-shadow: 	inset 1px 1px 0 0px #55482D;
    height:			1.4em;
}

.cont input:focus{
	border:			none;
}

table.fullx.middle th{
	display:		inline-block;
}


.main_wrapper div{
	margin:			0 auto;
}

.search{
	width: 			80%;
	margin: 		0 auto;
	padding-top: 	8%;
}

.lup{
	position: 		absolute;
	right: 			-8%;
	bottom: 		-2%;
}


.back{
	float:			left;
	width:			45%;
}
.print{
	float:			right;
	width:			47%;
}

.main_wrapper ul li a {
color: #220400;
}

.main_wrapper ol li a {
color: #220400;
display:			inline-block;
}

.buttons{
	width: 			18%;
	height: 		1.4em;
	float: 			right;
	padding-top: 5%;
	padding-right: 22%;
}

div.cal_elt{
	height:			48px;
}

div.cal_elt span{
	font-size:		10px;
}

.main_block{
	background:		#CDAD66 url(../images/f.gif) repeat;
	min-height:		2940px;
   	padding: 		4px 13px 0 13px;
   	x-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 	4px;
    box-shadow:		0 0 37px rgba(0,0,0,0.5);
    overflow:		hidden;

}


.vlist6 img{
	margin:			10px auto;
	padding:		0;
	display:		block;
}

.vpodarokimg2{
	position:		relative;
	top:			20px;
}

div.icona_vpodarok2 .vlist2{
	margin-top: 11px;
}

table.kak_sdelat_zakaz{
	width:			100%;
}
.vlist1,.vlist2,.vlist3,.vlist4,.vlist5,.vlist6{
	padding-left:	0px;
}

.icvpodarok-href{
	display:		inline-block;
}

.icvpodarok-href img{
	float:			none;
	padding:		0;
	margin:			10px auto;
}


div div.icona_vpodarok1 ul.vpodarok_menu{
	margin:			0;
	width:			100%;
}

div div.icona_vpodarok1 ul.vpodarok_menu li{
	width:			100%;
	display:		block;
	margin:			5px 0 0 0;
}


div div.icona_vpodarok1 ul.vpodarok_menu li a{
	width:			88%;
}

table.left td{
	padding-right: 5px;
	padding-left: 5px;
}

div.main_wrapper div.icona_vpodarok1{
	padding:		0;
}

div.vpodarok_menu_wrapper1,div.icona_vpodarok1 div.vpodarok_menu_wrapper2,div.vpodarok_menu_wrapper3{
	float:			none;
	width:			100%;
}

.char{
	color: 			#220400;
	text-decoration: none;
	font-size: 		30px;
	margin-right:	1%;
	display:		inline-block;
}



#social-buttons a{
	display:		block;

}

#social-buttons a img{
	max-width:		100px;
}

#social-buttons{
	padding: 		4% 0 0 9%;

}


#mailing{
	font-family: 	'CyrillicOld', serif;
	color:			 #85010F;
	margin: 		9% 0 0 9%;

}

.right_part, .left_part{
	display:		none;
}

.menu_main{
	list-style:		none;
	padding:		0;
	margin:			0 auto;
	min-height:		120px;
	text-align:		justify;
	-ms-text-justify: distribute;
	max-width: 		690px;
	margin-bottom:	3%;
}


.center h3 a{
	font-size:		17px;
}


.menu_main li:nth-child(1){
	margin:			0 auto;
}

.menu_main li{
	letter-spacing: normal;
	display:		block;
	position:		relative;
	width:			90%;
	text-align:		center;
	margin:			0 auto;
	margin-top:		-13px;
}

.menu_main li a{
	color:			#000;
	text-decoration:none;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 	3px;
    max-height:		20px;
    font-size: 		100%;
    padding:		2px;
	font-family: 	'Agopus'sans-serif;
	width:			100%;
	display:		block;

}

.menu_main li a:hover{
	background:		#BA6306;
	color:			#1E0B00;	
}




.left_side h4{
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	margin: 		5px 0;
	font-size: 		21px;
}

.sidebar{
	list-style:		none;
	padding-left:	8%;
	margin:			0;
}

.sidebar li{
	width:			100%;
	max-width:		90%;
}

.sidebar li a{
	text-decoration:none;
	color:			#220400;
	padding: 		2px;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width:			100%;
    display:		block;
    font-family: 	'Agopus'sans-serif;
	font-size: 		17px;
	border-bottom:	1px solid #B6985B;
	border-top:		1px solid #D5BA7C;
	position:		relative;
	z-index:		10;
}

.sidebar li a:hover{
	background:		#BA6306;
}



.sidebar li.sub{
	background:		#E6C57B;
	width: 			88%;
	margin-left: 	3%;
}

.sidebar li.sub a:hover{
	background:		none;
	text-decoration:underline;
}

.sidebar li.sub a{
	border-top:		1px solid #D5BA7C;
	padding-left: 	4%;
	width:			95%;
}

.sub1,.sub2{
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}



.main{
	padding: 		0 3% 0 2%;
	padding-bottom: 2.3%;

}

.main h2{
	margin: 		9px 0 0 0;
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}

.main p{
	margin:			4px 0 12px 0;
	font-family:	'Agopus';
	font-size:		13px;
}

.img1{
	float:			left;
	width:			48.5%;

}

.img2{
	width:			47%;
	float:			right;
}

.patriarx{
	min-height:		130px;
	background:		url(../images/figure_top.png) bottom center no-repeat;
}


.icons{
	min-height:		270px;
}


.icons h5{
	text-align:		center;
	display:		block;
	width:			100%;
}

.icons h5{
	margin: 		10px 0;
	font-size: 		24px;
	color:			#85010F;
	font-family:	'CyrillicOld', serif;
}

.icon1,.icon2,.icon3,.icon4,.icon5,.icon6{
	width:			33%;
	margin-bottom: 	2%;

}

.icon1,.icon2,.icon4,.icon5{
	float:			left;
	margin-bottom: 	2%;
}

.icon3,.icon6{
	float:			right;
}

.icon_wrapper{
	width: 			62.5%;
	margin:			0 auto;
	margin-bottom: 	2%;
}

.icon_href{
	text-decoration:none;
	color:			#230700;
	text-align: 	center;
	display: 		block;
	font-family:	'Agopus';
	font-size: 		14px;
}


h1{
	padding-top: 	15px;
	padding-bottom: 15px;
	padding-left: 	5px;
	clear: 			both;
	text-align: 	left;
}

.fullix{
	padding: 		0px;
	margin: 		0px;
}

td{
	vertical-align: top;
	text-align: 	left;
	max-width:		260px;
}


pre{
	display: 		block;
	font-family: 	monospace;
	white-space: 	pre;
	margin:			0;
}

p img{
	margin: 		0 auto;
	margin-left:	1%;
	margin-right:	1%;
}

p{
	margin: 		5px 0px;
	text-align: 	justify;
	font-size:		16px;
}

h1,h2,h3,h4,h5,h6{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;

}

.fullx h2 a{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	font-size: 		18px;

}

p, h1, h2, h3, h4, h5, h6, ul, ol, li {
	clear: 			both;
}

h1 a,h2 a,h3 a,h4 a,h5 a, span a{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	text-decoration:none;

}

.center span a{
	display:		inline-block;
}

.noclear span{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}

p a,.fullx a{
	color:   		#220400;
	font-weight:	bold;
}

.center{
	text-align:		center;
}

.fullx{
	width:			100%;
}



#toTop p{
	-moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;

}

.news{
	width:			44%;
	margin:			0 auto;
	padding-top: 	10%;
}

.topic{
	background:		url(../images/element.png) no-repeat;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	width:			80%;
	height:			30px;
	margin:			0 auto;
	position: 		relative;
	bottom: 		7px;
}



.topic p{
	margin:			0;
	font-size:		14px;
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	display:		block;
	padding-top: 	3.5%;
}



.calendar{
	margin: 		10px auto;
	height:			180px;
	width:			92%;
}


.promo{
	margin:			14px auto;
	width: 			92%;
	height: 		360px;
	background:		#E6C57B;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.foot{
	margin-top: 	1.2%;
	background:		url(../images/figure_bottom.png) center top no-repeat;
	min-height: 	20px;
	padding-top: 	2%;

}


.map{
	width:			75%;
	margin:			3% auto;
	min-height:		100px;
}

.contacts{

	min-height:		222px;
	font-size:		15px;
}

.con_left_inner{
	padding-left: 	18%;
}



.contacts_head p{
	margin: 		0 auto;
	text-align: 	center;
	line-height: 	14px;
	font-size: 		13px;
	font-family: 	Agopus;
}

.con_left{
	width:			50%;
	float:			left;
}

.con_left p{
	margin:			5% 0 0 0;
}

.con_right{
	width:			50%;
	float:			right;
}

.con_right_inner{
	padding: 		0 10%;
}

.con_right_inner p{
	margin:			5% 0 0 0;

}



.other{
	width: 			50%;
	margin: 		0 auto;
	padding-top: 	8%;
	text-align:		center;
}

.visa,.mcard,.fb,.vk,.counter{
	margin:			0 auto;
}

.visa_mcard{
	margin:			0 auto;
	width:			52%;
}

.visa{
	float:			left;
	width:			49%;
	padding-bottom: 3%;
}
.mcard{
	float:			right;
	width:			49%;
}

.fb,.vk{
	width: 			57%;
	padding-bottom: 2%;
}

.vk{
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}






.footer{
	height:			150px;
}

#side-menu-calendar{
	width:			100%;
	max-width:		400px;
	margin:			0 auto;
	float:			none;
}

#icon_of_the_day{
	float:			none;
	width:			inherit;
	margin-top:		10px;
}


#icon_of_the_day p{
	width:			inherit;
}


#icon_of_the_day div.icon-img{
	float:			none;
	margin:			0 auto;
}

div div.icon-img{
	width:			100%;
	padding:		15px 0;
}

a.youtube img{
	width:			27px;
}


a.float-left{
	float:			none;
}

@font-face{
	font-family:	'Agopus';
    src:			url(../fonts/agopus1.ttf);

}

#social-buttons{
	float:			left;
	width:			40%;
}

#social-buttons a{
	float:			left;
	margin:			3px;
}

.soc_seti{
	float:			right;
	width:			40%;
	padding-top:	14px;
}
















html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
















/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
	display: block;
	right: 0;
	left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
	display: none;
}

/* Show the "Drag" background in the demo */


/* Demo toolbar styles */
#toolbar {
  background: #536ea7;
  border-bottom: 1px solid #111b32;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 44px;
}

#toolbar h1 {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 44px;
  left: 44px;
  width: auto;
  height: 44px;
}

#open-left {
  background: url(../images/open.png) center center no-repeat;
  display: block;
  position: fixed;
  width: 44px;
  height: 44px;
  z-index: 99;
}

/* Show the red "No Drag" box in the demo */
#no-drag,
#do-drag {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 100px;
	margin-left: -25%;
	margin-top: -50px;
	background: red;
	color: #FFF;
	text-align: center;
	line-height: 100px;
}
#do-drag{
	background: green;
}

/* Styles for the social buttons in the demo */
.demo-social {
	padding: 0 15px;
}

/* Show the translucent white "Toggle" boxes in the demo */
.toggler {
	width: 80%;
	background: rgba(255,255,255,0.5);
	margin: 0 auto;
	position: relative;
	top: 70px;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

/* Styles for expanding "Search" input in the "Expanding" demo */
.search {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#search {
	height: 30px;
	width: 87%;
	margin: 7px 7px 0 7px;
	background: linear-gradient(#414A5A,#4C5464);
	background: -webkit-linear-gradient(#414A5A,#4C5464);
	padding-left: 15px;
	border: 1px solid #222936;
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
	        border-radius: 25px;
	-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
	   -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
	        box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
}

#search:focus {
	outline: none;
	border-color: #151515;
}

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
	-webkit-transition: opacity 0.3s ease; 
	   -moz-transition: opacity 0.3s ease; 
	    -ms-transition: opacity 0.3s ease; 
	     -o-transition: opacity 0.3s ease; 
	        transition: opacity 0.3s ease; 
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
	opacity: 0;
}

/* Styles for the "Settings" demo */
.opt {
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.opt p {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
	color: #222;
	color: rgba(0, 0, 0, 0.6);
}

/* Default demo styles */
.snap-content {
  background:		#5A3500 url(../images/fon_body.jpg);
}

.snap-drawers {
  background: #7C7258;
}

.snap-drawer {
	background: #7C7258;
	color: #eee;
}

.snap-drawer strong {
  font-size: 30px;
  font-weight: normal;
  margin: 15px;
  padding-top:	20px;
  font-family: 'CyrillicOld', serif;
  display:block;
  color: #85010F;
}

.snap-drawer h4 {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}

.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.snap-drawer li > a {
  display: block;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
  font-size:13px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  color: #ccc;
  text-indent: 20px;
}

.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}

.snap-drawer h3.lower-h3{
	padding:0;
}

.menu_main,.sidebar{
	display:	none !important; 
}


div.cal_elt a{
	height:		46px;
}

div.cal_elt{
	height:		84px;
}


img.kontakty{
	width:		17%;
}

.kontakty:focus{
	width:		50%;
	outline:	none;
}




.top-mobile{
	width: 107px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 14px 0;
    background: #957D4A;
    color: #fff;
    border-radius: 35px;

}




#tabs-list{
	margin:			10px 0;
	background:		none;
	width:			100%;
}

#tabs-list li{
	float:			none;
}

li.alfa-bet{
	position:		relative;
	top:			0 !important;
}

ol.al{
	list-style:		none;
}

ul.vpodarok-icons{
	display:		none;
}



.icona_vpodarok1 > div{
	padding-top:		0px;
}


td.center a,td.right a{
	height:				50px;
}

.site-head{
	padding-top:		0;
}


.screen{
	display:			none;
}

.vnachalo-knopka{
	display:		none;
}

}
