* {
    box-sizing:content-box;
}

.main_wrapper * {
    box-sizing:border-box;
}
p {
    text-align:inherit;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    clear: none;
}
img {
    margin-bottom: 0;
}

body {
    font-weight: 400;
    color: #666;
    width: 100%;
}

/* default font size */
.fa {
    font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
    font-size: 33px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10.2px;
}
a {
    color: #85010f;
}
a:hover {
    text-decoration: none;
}
legend {
    font-size: 18px;
    padding: 7px 0px;
    border-bottom: 1px solid #9d7752;
    margin-bottom: 5px;
    display:block;
}
label {
    font-size: 12px;
    font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
    background: #c2a466;
    color: #000;
    border: 1px solid #9d7752;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}
.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 15px;
}
div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
div.required .control-label h4{
    display: inline-block;
}

#product div.required .control-label {
    width:100%;
    font-weight: bold;
    padding-top: 10px;
}

#product div.form-group div.radio.with-image {
    min-height: 50px;
}

#product .checkbox, .radio {
    margin:0; padding:0;
}

#product .checkbox, .radio input[type="radio"] {
    margin-top:0;
}

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}
/* top */
#top {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 0px 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;
}
#top .container {
    padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
    color: #444;
}
#top-links .dropdown-menu a {
    text-shadow: none;
}
#top-links .dropdown-menu a:hover {
    color: #FFF;
}
#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}
#top-links {
    padding-top: 6px;
}
#top-links a + a {
    margin-left: 15px;
}
/* logo */
#logo {
    margin: 0 0 10px 0;
}
/* search */
#search {
    margin-bottom: 10px;
}
#search .input-lg {
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
}
#search .btn-lg {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 35px;
    text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
    margin-bottom: 10px;
    margin-left: 25%;
}
#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}
#cart.open > .btn {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #666;
    box-shadow: none;
    text-shadow: none;
}
#cart.open > .btn:hover {
    color: #444;
}
#cart .dropdown-menu {
    background: #ba670b;
    z-index: 1001;
}
#cart .dropdown-menu {
    min-width: 100%;
}
@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
    }
}
#cart .dropdown-menu table {
    margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}
@media (max-width: 478px) {
    #cart .dropdown-menu li > div {
        min-width: 100%;
    }
}
#cart .dropdown-menu li p {
    margin: 20px 0;
}
/* menu */
#menu {
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    min-height: 40px;
}
#menu .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
    background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
    padding-bottom: 0;
}
#menu .dropdown-inner {
    display: table;
}
#menu .dropdown-inner ul {
    display: table-cell;
}
#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}
#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}
#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}
#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #229ac8;
}
@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media (max-width: 767px) {
    #menu {
        border-radius: 4px;
    }
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}
/* content */
#content {
    min-height: 600px;
}
/* footer */
footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #303030;
    border-top: 1px solid #9d7752;
    color: #e2e2e2;
}
footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}
footer a {
    color: #ccc;
}
footer a:hover {
    color: #fff;
}
footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
/* alert */
.alert {
    padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
    margin: 0 0 20px 0;
    padding: 8px 0;
    border: 1px solid #9d7752;
}
.breadcrumb i {
    font-size: 15px;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #e4c479;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}
.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-right: 1px solid #9d7752;
    border-bottom: 1px solid #9d7752;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.pagination {
    margin: 0;
}
/* buttons */
.buttons {
    margin: 1em 0;
}
.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #9d7752;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
    font-size: 9px;
}
.btn-sm {
    font-size: 10.2px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}
.btn-group > .btn-xs {
    font-size: 9px;
}
.btn-group > .btn-sm {
    font-size: 10.2px;
}
.btn-group > .btn-lg {
    font-size: 15px;
}
.btn-default {
    color: #000;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    background-color: #e4c479;
    background-image: linear-gradient(to bottom, #ba670b, #9d7752ddd);
    background-repeat: repeat-x;
    border-color: #9d7752ddd #9d7752ddd #b3b3b3 #b7b7b7;
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #1f90bb;
    background-position: 0 -15px;
}
.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #85010f;
    border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}
.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
    padding: 8px 12px;
    border:1px solid #9d7752;
    color: #000;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #000;
    background: #ba670b;
    border:1px solid #9d7752;
}
/* carousel */
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}
.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}
/* product list */
.product-thumb {
    border: 1px solid #9d7752;
    margin-bottom: 20px;
    overflow: auto;
}
.product-thumb .image {
    text-align: center;
}
.product-thumb .image a {
    display: block;
}
.product-thumb .image a:hover {
    opacity: 0.8;
}
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}
.product-grid .product-thumb .image {
    float: none;
}
@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0;
    }
    
.panel-body{
    position:relative;
    min-height:300px;
}

.panel-body .row .col-sm-3:nth-child(2){
    position:absolute;
    height: 100%;
    padding-top: 30px;
    top: 0;
    left: 225px;
    border-left: 1px solid #562d10;
}

.panel-body .row .col-sm-3:nth-child(3){
    position:absolute;
    height: 100%;
    padding-top: 30px;
    top: 0;
    left: 425px;
    border-left: 1px solid #562d10;
}
.panel-body .row .col-sm-3:nth-child(4){
    position:absolute;
    height: 100%;
    padding-top: 30px;
    top: 0;
    left: 625px;
    border-left: 1px solid #562d10;
}
    
}
.product-thumb h4 {
    font-weight: bold;
}
.product-thumb .caption {
    padding: 0 20px;
    /*min-height: 180px;*/
}
.product-list .product-thumb .caption {
    margin-left: 230px;
    min-height: 221px;
}
@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }
    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}
.product-thumb .rating {
    padding-bottom: 10px;
}
.rating .fa-stack {
    font-size: 8px;
}
.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}
.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}
.rating .fa-star + .fa-star-o {
    color: #E69500;
}
h2.price {
    margin: 0;
}
.product-thumb .price {
    color: #fff;
}
.product-thumb .price-new {
    font-weight: 600;
}
.product-thumb .price-old {
    color: #000;
    text-decoration: line-through;
    margin-left: 10px;
}
.product-thumb .price-tax {
    color: #000;
    font-size: 12px;
    display: block;
}
.product-thumb .button-group {
    border-top: 1px solid #9d7752;
    background-color: #ba670b;
    overflow: auto;
    font-size: 12px;
}

.product-thumb .button-group.buy1click-button {
    background-color: #e4c479;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
}
.product-thumb .button-group.buy1click-button a {
    width: 100%;
    
}

.product-list .product-thumb .button-group {
    border-left: 1px solid #9d7752;
}
@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}
.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #ba670b;
    color: #85010f;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}
.product-thumb .button-group button + button {
    width: 20%;
    border-left: 1px solid #9d7752;
}
.product-thumb .button-group button:hover {
    color: #444;
    background-color: #9d7752;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}
@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}
.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbnails > li {
    margin-left: 20px;
}
.thumbnails {
    margin-left: -20px;
}
.thumbnails > img {
    width: 100%;
}
.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #9d7752;
}
.image-additional {
    max-width: 78px;
}
.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear:left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear:left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear:left;
    }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
        width: 100%;
    }

    #column-left + #content .product-layout .col-md-3 {
        width: 50%;
    }

    #column-left + #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
    width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
    min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.cntnr {
    margin: 0 auto;
    min-height: 1245px;
    width: 1265px;
}
.cont {
    height: 109px;
}
.contct a {
    text-decoration: underline;
}
.lup {
    bottom: 9%;
}

.contct > span {
    font-size: 16px;
}
.cont input {
    height: 1.5em;
}
.r {
    width:85px;
}
.left1, .right1 {
    top: 40px;
    height:96%;
}

.menu_main li {
    padding-top:2px;
}
.nav {
    padding-top:51px;
}

.sidebar li a {
    line-height: 21px;
}
.left_side > p {
    margin-bottom: 2px;
}

.main_wrapper > .container {
    width: 100%;
    padding-top:20px;
    color:#000;
}

.owl-wrapper-outer {
    border: 4px solid transparent;
}

.owl-carousel {
    background:none;
}

.main_wrapper img {
    margin-top:0px;
}

.main_wrapper p {
    margin:0;
}
.main_wrapper .buttons {
    width: auto;
}

.table-bordered, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td {
    border-color: #000;
}

.tooltip.top {
    background: none;
    height: auto;
    width: auto;
}

#content > h3, #content > a > h3 {
    text-align: center;
    margin-bottom:5px;
}

.thumbnail {
    background: none;
}

#column-left {
    padding: 5px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color:#ba670b;
}

.list-group-item {
    background-color: #c2a466;
}

.sidebar li a.active{
    background:		#BA6306;
}
.sidebar ul {
    list-style: outside none none;;
    padding-left: 10px;
}
.breadcrumb {
    background: #c2a466;
}

.main_wrapper ul li a, .main_wrapper ul li a:visited {
    color: #85010f;
}

.panel {
    background: #e4c479;
}
.panel-default {
    border: 1px solid #9d7752;
}
.btn-primary {
    background: #85010f;
    border: 1px solid #9d7752;
    color: #e4c479;
}
.btn-primary:hover {
    background: #9d0112;
}

.head .cart {
    position: absolute;
    right: 274px;
    top: 74px;
    width: 90px;
}

.head .cart .fa {
    color: #cd862f;
    font-size: 22px;
}

.form-control:focus {
    border-color: #cd862f;
    box-shadow: 0 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(133,1,15,0.6)
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background: #ba6306;
    border-color: #9d7752;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #d57107;
    border-color: #9d7752;
    color: #000;
}
.btn-default:hover, .btn-default:focus {
    background-color: #d57107;
    border-color: #9d7752;
    color:#000;
}

.input-group-addon {
    background: #c2a466;
    color: #000;
    border-color: #9d7752;
}
a:focus, a:hover {
    color: #ba6306;
}

.added-popup {
    min-height:300px;
    color: #000;
    position: absolute;
    top: -200px;
    right: 0;
    left: 0;
    margin: auto;
}

.added-popup .background {
    background-color: #cdad66;
    padding:20px;
    min-height: 190px;
}

.added-popup div.image {
    float:left;
    width:auto;
}

.added-popup .title {
    padding-top: 20px;
    float:left;
    min-height:100px;
    width: 270px;
}

.added-popup .cart-totals {
    float:right;
}

.mfp-wrap {
    color: #000;
}

.mfp-wrap a {
    color: #85010f;
}
.added-popup .recommendations {
    padding-top:130px;
}

.added-popup .recommendations h4 {
    width: 100%;
    text-align: center;
}

.added-popup .recommendations table {
    width: 100%;
}

.added-popup .recommendations table td, table.table > tbody > tr > td {
    padding: 5px;
    vertical-align:middle;
}

.added-popup .recommendations .qty {
    width: 50px;
}

.mfp-close-btn-in .mfp-close {
    padding-right: 17px;
}

.img-thumbnail {
    background: none;
    border: 1px solid #cd862f;
}
.table-bordered, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td {
    border-color: #cd862f;
}

.panel-default > .panel-heading {
    background: #c2a466;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #cd862f;
}

.alert-danger {
    background: #f28f7a;
    border-color: #9d7752;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top-color: #cd862f;
}

.nav.nav-tabs {
    border-color: #9d7752;
    width:auto;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #ba6306;
    color:#000;
    border-color: #9d7752;
}

a.thumbnail.active, a.thumbnail:hover, a.thumbnail:focus {
    border-color: #85010f;
}

.thumbnail {
    border: 1px solid #9d7752;
}

.buy1click-popup {
    position: relative;
    background: #e4c479;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #9d7752;
}

.well {
    background-color: #e4c479;
    border-color: #9d7752;
}

.table-hover > tbody > tr:hover {
    background-color: #e4c479;
}

.tooltip > .tooltip-inner {
    color:#e4c479;
    background-color: #85010f;
}
.tooltip.top .tooltip-arrow{
    border-top-color:#85010f;
}

.pagination > li > a {
    background: #e4c479;
}

.pagination > li > a, .pagination > .active > span {
    border-color: #9d7752;
}
.pagination > .active > span {
    background-color: #ba6306;
}

.pagination > li > a:hover, .pagination > .active > span:hover, .pagination > li > a:focus, .pagination > .active > span:focus {
    background-color: #d57107;
}

div.article-row {
    border: 1px solid #9d7752;
    margin-bottom: 20px;
    overflow: auto;
}
div.article-row div.image {
    float:left;
    padding: 0 15px 0 0;
}
div.article-row div.image img {
    margin:0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #c2a466;
}

.btn-primary.focus, .btn-primary:focus {
    background: #85010f;
}

checkbox + .checkbox, .radio + .radio {
    margin-top:0;
}
.foot {
    color:#000;
}

.info-page {
    font-size: 16px;
}

.checkbox label, .radio label {
    font-size: 15px;
}
.current_image {
	font-size: 14px;
}
.current_image input{
	position: relative;
	top: -1px;
}
.product-thumb .image, .thumbnail{
	position: relative;
}

.product-label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: #85010F;
  padding: 8px;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}
#productsList .product-label {
	padding: 8px;
	font-size: 13px;
}
.product-label + .product-label {
  top: 49px;
}
#productsList .product-label + .product-label {
  top: 34px;
}
.product-label.hit {
  background: #6bbee1;
}
.product-label.sale {
  background: #ff9600;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #cd862f;
}

#product .form-group {
    margin-bottom: 35px;
}